body {
    font-family: "Poppins";
    margin: 0;
    margin-bottom: 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
    background-color: rgba(5, 5, 10, 0.82);
  }

img {
  object-fit: contain;
}

  .container {
    width: 85%;
    padding-right: 0;
    padding-left: 75px;
    margin-left: auto;
    margin-right: auto;
    border-right: 3px solid black;
    border-left: 3px solid black;
  }

  .header-image {
    height: 135vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }

  .menu_rectangle {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    min-height: 220px;
    max-height: 220px;
    display: flex;
    position: absolute;
    top: 0;
  }

  a {
    color: crimson;
  }

  .navigation_content {
    position: absolute;
    right: 48px;
    left: 32px;
    top: 16px;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .menu-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }

  .menu-link:hover {
    text-decoration: underline;
  }

  .logo {
    max-width: 275px;
    max-height: 275px;
  }

  .headline {
    position: absolute;
    left: 48px;
    top: 266px;
    font-size: 48px;
    color: white;
    width: 800px;
  }

  .crimson {
    color: crimson;
  }

  .selectable_button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
  }

  .selectable_button:hover {
    position: relative;
    background-color: rgba(178, 34, 34, 0.4);
    border-radius: 8px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }

  .button {
    background-color: rgba(178, 34, 34, 0.4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.8);
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-content {
    border-radius: 4%;
    text-align: left;
    display: none;
    position: absolute;
    color: white;
    background-color: rgba(5, 5, 10, 0.7);
    min-width: 167px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .dropdown-content a {
    color: crimson;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
    min-width: 167px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    cursor: default;
  }

  .dropdown-content a:hover {
    color: rgb(83, 16, 25);
    background-color: rgb(255, 190, 190);
    border-radius: 4%;
  }

  .main-object {
    display: flex;
    padding-top: 75px;
    padding-right: 75px;
    padding-left: 0;
    width: auto;
  }

  .main-content {
    display: block;
    color: white;
    font-size: 24px;
    max-width: 100%;
    padding: 40px;
  }

  .maps {
    padding: 0;
    color: white;
  }

  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding-right: 100px;
    text-align: left;
  }

  .footer-background {
    display: block;
    top: -7px;
    background-color: rgba(5, 5, 10, 0.93);
    position: relative;
    padding: 30px 48px;
  }

  .footer-object {
    text-align: center;
    display: block;
  }

  .footer-content {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
    font-size: 22px;
  }