::-moz-selection {
  /* Code for Firefox */
  color: dark-gray;
  background: rgba(178, 34, 34, 0.6);
}

::selection {
  color: dark-gray;
  background: rgba(178, 34, 34, 0.6);
}

body {
  font-family: "Poppins";
  margin: 0;
  margin-bottom: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
  background-color: rgba(5, 5, 10, 0.85);
}

img {
  max-width: 100%;
  object-fit: cover;
}
.container {
  max-width: 90%;
  left: 0;
  right: 0;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

.header-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.menu_rectangle {
  z-index: 10000;
  display: inline;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 190px;
  min-width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  align-content: center;
  transition: height 0.275s ease; /* Sanfte Animation beim Ändern der Höhe */
}

a {
  color: white;
}

a:hover {
  color: crimson;
}

.navigation_content {
  right: 0;
  left: 0;
  top: 0;
  gap: 10px;
  font-size: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.navigation_text {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-inline: 20px;
  text-decoration: none;
}

.navigation_text i {
  font-size: 50px;
}

.navigation_text-dropdown {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-inline: 20px;
  text-decoration: none;
}

.navigation_text-dropdown i {
  font-size: 70px;
}

.navigation_buttons {
  display: flex;
  cursor: default;
  float: right;
  align-items: center;
  position: relative;
  right: 25px;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0);
  float: left;
}

.logo-pic {
  max-height: 180px;
  padding: 5px;
  transition: opacity 0.275s ease, max-height 0.3s ease; /* Sanfte Animation für Opazität und Höhe */
}

.headline {
  position: absolute;
  left: 48px;
  top: 266px;
  font-size: 48px;
  color: white;
}

.crimson {
  color: crimson;
}

.button {
  background-color: rgba(178, 34, 34, 0.4);
  padding: 5px;
  width: 186px;
  border-radius: 8px;
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.8);
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  color: white;
  background-color: rgb(30, 20, 20);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  min-width: 167px;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 167px;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: default;
}

.dropdown-content a:hover {
  color: crimson;
  background-color: rgba(55, 35, 35);
}

.kontakt-wrapper {
  gap: 15px;
  display: flex;
  width: 100%;
  margin-inline: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.kontakt-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: center;
  min-width: 450px;
  max-width: 450px;
  background-color: rgba(178, 34, 34, 0.4);
  color: white;
  font-size: 24px;
  padding-block: 15px;
  padding-inline: 15px;
  border-radius: 15px;
}

.focus-point {
  background-color: transparent;
}

.slideshow-container {
  width: fit-content;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 15vmin;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  padding: 10px;
  padding-top: 33px;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

.arrow:hover {
  color: crimson;
}

.arrow.left {
  left: 0;
}
.arrow.right {
  right: 0;
}

.kontakt-headline {
  width: fit-content;
  margin-inline: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 50px;
  margin-bottom: -25px;
}

.login-wrapper {
  color: white;
  background-color: rgba(178, 34, 34, 0.4);
  padding: 10px 25px;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  margin-top: auto;
}

.login-form {
  display: block;
}

.login-form-input {
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  max-width: calc(100% - 30px);
}

.remember-forgot {
  margin-top: 3px;
  display: grid;
  place-content: center;
  margin-inline: auto;
}

.login-form-submit {
  background-color: rgb(30, 20, 20);
  margin-top: 15px;
  border: 2px solid crimson;
  color: whitesmoke;
  font-size: 20px;
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 15px;
}

.login-form-submit:hover {
  color: crimson;
}

.input-box {
  align-items: center;
  width: 100%;
}

:root {
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-light: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --color-bg: hsl(232, 11%, 15%);
  --color-bg-light: hsl(233, 8%, 19%);
}

.messenger-open {
  z-index: 1000;
  display: block;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.messenger-container {
  z-index: 10000;
  display: block;
  position: fixed;
  bottom: -725px;
  right: 25px;
  height: 700px;
  width: 550px;
  background-color: rgba(15, 15, 20);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  border-radius: 10px;
  transition: transform 0.25s ease-in-out; /* Sanfte Animation beim Ändern der Höhe */
}

.messenger-container.open {
  transform: translateY(-700px); /* Verschiebung nach oben */
  bottom: -675px;
}

.messenger-head {
  position: relative;
  display: flex;
  width: calc(100% - 20px);
  text-align: end;
  height: fit-content;
  align-items: center;
  float: right;
  margin-inline: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.messenger-header-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: whitesmoke;
  font-size: 48px;
  border-radius: 5px;
  cursor: pointer;
}

.messenger-header-btn:hover {
  color: crimson;
}

.messenger-container button:hover {
  color: crimson;
}

.chatbox-wrapper {
  width: 50%;
  float: left;
  margin-right: auto;
  height: 700px;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid crimson;
  color: whitesmoke;
}

.messenger-wrapper {
  border-radius: 10px;
  overflow-y: scroll;
  height: 586px;
  width: 506px;
  margin-inline: 10px;
  padding: 10px 10px;
  display: inline-block;
  border: 2px solid crimson;
  color: whitesmoke;
}

.messenger-msg-right {
  margin-block: 10px;
  padding-inline: 16px;
  padding-block: 6px;
  border-radius: 12px;
  background-color: rgb(98, 26, 26);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  width: fit-content;
  text-align: end;
  height: fit-content;
  max-width: 80%;
  margin-left: auto;
  word-wrap: break-word;
}

.messenger-msg-left {
  margin-block: 10px;
  padding-inline: 16px;
  padding-block: 6px;
  border-radius: 12px;
  background-color: rgb(98, 50, 50);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  font-size: 16px;
  text-align: left;
  width: fit-content;
  height: fit-content;
  max-width: 80%;
  margin-right: auto;
  word-wrap: break-word;
}

.messenger-form {
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
  width: 100%;
  margin-inline: auto;
  bottom: 10px;
  display: flex;
  flex: e;
  gap: 10px;
}

.messenger-form-text {
  font-size: 16px;
  color: white;
  width: 100%;
  text-align: left;
  border: none;
  padding-inline: 12px;
  padding-block: 12px;
  border-radius: 10px;
  background-color: rgb(98, 26, 26);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.messenger-form-btn {
  color: white;
  text-align: left;
  border: none;
  padding-inline: 16px;
  padding-block: 6px;
  border-radius: 6px;
  background-color: rgb(98, 26, 26);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.messenger-form-text:focus {
  outline: none;
}
.messenger-form-btn:focus {
  outline: none;
}

.messages {
  width: 100%;
  height: calc(100% - 44px);
  overflow-y: scroll;
}

.faq-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.faq-item {
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgb(28, 31, 35);
  transition: background-color 0.6s ease-in-out;
}
.faq-item.open {
  background-color: rgba(178, 34, 34, 0.3);
  color: whitesmoke;
}
.faq-question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out,
    padding 0.4s ease-in-out;
  opacity: 0;
  padding: 0 10px;
}
.faq-item.open .faq-answer {
  max-height: fit-content;
  opacity: 1;
  padding: 10px;
}
.faq-question span {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}
.faq-icon {
  font-size: 24px;
  transition: transform 0.4s ease-in-out;
}
.faq-item.open .faq-icon {
  transform: rotate(45deg);
}

.cookie-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  gap: 10px;
}
.cookie-item {
  width: calc(50% - 5px);
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgb(28, 31, 35);
  transition: background-color 0.6s ease-in-out;
}
.cookie-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out,
    padding 0.4s ease-in-out;
  opacity: 0;
  padding: 0 10px;
}
.cookie-item.open .cookie-content {
  max-height: fit-content;
  opacity: 1;
  padding: 10px;
}
.cookie-item.open {
  background-color: rgba(178, 34, 34, 0.3);
  color: whitesmoke;
  width: 100%;
}
.cookie-text {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.open-chat {
  width: calc(50% - 5px);
}
.chat-btn {
  width: 100%;
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgb(28, 31, 35);
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.accept-cookies {
  width: calc(50% - 5px);
  border: 1px solid crimson;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgb(28, 31, 35);
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}

.main-object {
  display: flex;
  gap: 80px;
}

.main-content {
  display: block;
  color: white;
  font-size: 24px;
  left: 0;
  right: 0;
  margin-top: 40px;
}

.main-headline1 {
  font-size: 32px;
}

.maps {
  padding: 0;
  color: white;
  width: 98%;
  min-height: 95%;
  object-fit: cover;
  border-radius: 15px;
}

.box-table {
  background-color: rgba(178, 34, 34, 0.4);
  border-radius: 15px;
  padding-inline: 15px;
  padding-block: 15px;
}

table {
  border-collapse: collapse;
  max-width: max-content;
}

th,
td {
  padding-right: 20px;
  text-align: left;
}

.footer-background {
  display: block;
  left: 0;
  right: 0;
  padding-top: 20px;
  width: 100vw;
  background-color: rgba(5, 5, 10, 0.9);
  position: relative;
}

.footer-object {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  margin-inline: auto;
  max-width: fit-content;
}

.footer-logo {
  cursor: pointer;
  width: 55px;
}

.footer-content {
  text-align: center;
  padding-block: 30px;
  color: white;
  font-size: 22px;
}

.page-container {
  background-color: rgba(10, 14, 18, 0.8);
  max-width: 85vw;
  margin-top: 33vh;
  min-height: 100vh;
  margin-inline: auto;
  padding: 25px 25px;
  display: flex;
  gap: 25px;
  color: whitesmoke;
}

.page-nav {
  font-size: 22px;
  display: flex;
  gap: 10px;
  flex-flow: column;
  border-radius: 10px;
}

.lite-btn {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: 22px;
  color: whitesmoke;
  background-color: rgb(55, 35, 35);
}

.lite-btn:hover {
  color: crimson;
  background-color: rgb(80, 50, 50);
}

.page-nav button {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-size: 22px;
  color: whitesmoke;
  background-color: rgb(55, 35, 35);
}

.page-nav button:hover {
  color: crimson;
  background-color: rgb(80, 50, 50);
}

.conversation-state-btn {
  color: white;
  background-color: inherit;
  border: none;
}

.conversation-state-btn:hover {
  color: crimson;
}

.conversation-name {
  display: flex;
  align-items: center;
  font-size: 28px;
  background-color: rgb(55, 35, 35);
  border-radius: 10px;
  width: 100%;
}

.conversation-name button {
  flex-grow: 1;
  font-size: 22px;
  padding: 10px 10px;
  text-align: left;
  align-content: center;
  text-decoration: none;
  border: none;
  background-color: rgb(55, 35, 35);
  color: whitesmoke;
  border-radius: 10px;
}

.conversation-name:hover {
  background-color: rgb(80, 50, 50);
}
.conversation-name button:hover {
  background-color: rgb(80, 50, 50);
}

.dashboard-display {
  display: flex;
  flex-grow: 1;
  gap: 25px;
}

.profil-container {
  color: white;
  display: flex;
  flex-flow: column;
  max-width: 100%;
  gap: 25px;
  min-width: 50%;
}

.user-info {
  font-size: 22px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.label-box {
  display: flex;
  flex-flow: row;
  gap: 10px;
}

.label-box textarea {
  flex-grow: 1;
}

.label-box input {
  flex-grow: 1;
}

.content-box {
  word-wrap: break-word;
  overflow: hidden;
  min-width: 50%;
}

.logout-btn {
  padding: 10px 10px;
  max-width: fit-content;
  font-size: 22px;
  border: 1px solid crimson;
  color: whitesmoke;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
}
.logout-btn:hover {
  color: crimson;
  background-color: rgb(30, 30, 30);
}

.team-sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 1em;
}

.team-sidebar ul {
  list-style: none;
  padding: 0;
}

.team-sidebar button {
  margin: 1em 0;
}

.team-chats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  padding: 1em;
}

.chat-tile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  cursor: pointer;
  transition: transform 0.2s;
}

.chat-tile:hover {
  transform: scale(1.05);
}

.team-chat-container {
  padding: 1em;
}

.werbung-image-mobile {
  display: none;
}

.werbung-image {
  display: block;
}

.werbung-text {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.werbung-titel {
  display: flex;
  flex-flow: row;
  gap: 15px;
  font-size: 22px;
  color: white;
  font-weight: bold;
  line-break: auto;
  flex-wrap: wrap;
}

.werbung-description {
  font-size: 18px;
  color: whitesmoke;
  line-break: auto;
}

.werbung-box {
  scroll-snap-align: center;
  display: flex;
  flex-flow: row;
  min-width: calc(100% - 22px);
  padding: 10px 10px;
  border-radius: 10px;
  gap: 20px;
  border: 1px solid crimson;
  word-break: break-word;
}

.werbung-left {
  min-width: 25%;
  max-width: 25%;
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 1000px) {
  .werbung-left {
    min-width: 100%;
    max-width: 100%;
  }

  .werbung-titel {
    font-size: 19px;
  }

  .werbung-description {
    font-size: 16px;
  }

  .werbung-box {
    flex-wrap: wrap;
  }

  .label-box {
    flex-flow: column;
  }
  .user-info {
    font-size: 18px;
  }
  .chatbox-wrapper {
    width: calc(100% - 25px);
  }
  .dashboard-display {
    flex-flow: column;
  }
  .page-nav {
    flex-flow: row;
    flex-grow: 1;
    flex-wrap: wrap;
  }
  .page-nav button {
    flex-grow: 1;
  }
  .page-container {
    max-width: 100vw;
    flex-flow: column;
  }
  .messenger-container {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 90vh;
    width: 100vw;
  }
  .messenger-container.open {
    display: block;
    transform: translateY(-675px); /* Verschiebung nach oben */
    bottom: -675px;
  }

  .messenger-header-btn:hover {
    color: crimson;
  }

  .messenger-container button:hover {
    color: crimson;
  }

  .messenger-wrapper {
    border-radius: 12px;
    overflow-y: scroll;
    height: calc(90vh - 119px);
    width: 100vw;
    max-width: calc(100vw - 44px);
  }

  .card {
    min-width: 80vw;
    font-size: 18px;
  }

  .kontakt-headline {
    margin-top: 25px;
    margin-bottom: -15px;
    font-size: 32px;
  }

  .kontakt-table {
    min-width: 100%;
  }

  .slideshow-container {
    width: 90%;
  }

  .arrow {
    display: none; /* Pfeile verstecken */
  }

  .main-object {
    flex-wrap: wrap;
    /* Jede Box nimmt die volle Breite ein */
  }

  .main-content {
    min-width: 100%;
  }

  .footer_logo {
    cursor: pointer;
    width: 35px;
  }

  .footer-object {
    display: block;
  }

  .logo-pic {
    object-fit: fill;
  }

  .logo-container {
    max-width: 140px;
    max-height: 140px;
  }

  .menu_rectangle {
    max-height: 140px;
  }

  .navigation_content {
    font-size: 16px;
    display: flex;
  }

  .navigation_text {
    margin-inline: 2px;
    font-size: 16px;
  }

  .navigation_text i {
    font-size: 38px;
  }

  .navigation_text-dropdown i {
    font-size: 58px;
  }

  .main-content {
    font-size: 16px;
  }

  .container {
    padding: 6%;
  }

  .footer-content {
    font-size: 16px;
    padding-block: 15px;
  }

  .headline {
    font-size: 20px;
    left: 6%;
    top: 150px;
  }

  .red-box-table {
    max-width: 100%;
  }

  .button {
    width: 88px;
  }

  .dropdown-content {
    min-width: 83px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  }

  .dropdown-content a {
    padding: 6px 8px;
    min-width: 83px;
  }
}
