<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F. Walter Roth KG</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="menu_bar"></div>
    <div class="page-container">
      <div class="page-nav">
        <button onclick="loadSection('profile')">Profil</button>
        <button onclick="location.href = '/chat-redirect'">Chats</button>
        {% if team_status > 0 %}
        <button onclick="loadSection('statistics')">Statistiken</button>
        <button onclick="loadSection('enquiries')">Anfragen</button>
        <button onclick="loadSection('werbung')">Werbung/Angebote</button>
        {% endif %}
      </div>
      <div class="dashboard-display" id="dashboard-display">
        <div class="chatbox-wrapper" style="min-width: 50%" id="chatbox">
          <div class="messages" id="messages">
            {% for msg in messages %}
            <div
              class="{{ 'messenger-msg-right' if username == msg['username'] else 'messenger-msg-left' }}"
            >
              <div style="font-size: 18px"><b>{{ msg['username'] }}</b></div>
              <div style="font-size: 16px">{{ msg['content'] }}</div>
              <span style="font-size: 14px; color: rgba(245, 245, 245, 0.75)"
                >{{ msg['created_at'] }}</span
              >
            </div>
            {% endfor %}
          </div>
          <form class="messenger-form" id="chatForm" method="POST">
            <input
              id="message"
              name="content"
              class="messenger-form-text"
              type="text"
              placeholder="Nachricht..."
            />
            <button
              class="messenger-form-btn"
              type="button"
              onclick="sendMessage()"
            >
              <i class="bx bxs-send"></i>
            </button>
          </form>
        </div>

        {% if team_status > 0 %}
        <div class="chatbox-wrapper" style="border: none" id="chatbox-btns">
          <div style="font-size: 28px">Offene Konversationen:</div>
          <input
            type="text"
            id="searchConversations"
            onkeyup="searchConversations()"
            placeholder="Suche nach Namen..."
            title="Schreib hier den Namen"
            style="
              font-size: 20px;
              padding: 10px 10px;
              color: white;
              border: none;
              border-radius: 10px;
              background-color: rgb(98, 50, 50);
              box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
                /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
                /* multiple soft shadows 👇 */ 0 0.3px 0.4px
                  hsla(0, 0%, 0%, 0.02),
                0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                0 3.5px 6px hsla(0, 0%, 0%, 0.09);
            "
          />
          <div
            class="conversations-legende"
            style="
              font-size: 14px;
              color: rgba(255, 255, 255, 0.75);
              display: flex;
              gap: 25px;
            "
          >
            <div style="align-content: center; display: flex; gap: 5px">
              <i class="bx bx-envelope" style="font-size: 22px"></i>
              <div>Neu</div>
            </div>
            <div style="align-content: center; display: flex; gap: 5px">
              <i class="bx bx-time" style="font-size: 22px"></i>
              <div>In Bearbeitung</div>
            </div>
            <div style="align-content: center; display: flex; gap: 5px">
              <i class="bx bx-check-circle" style="font-size: 22px"></i>
              <div>Abgeschlossen</div>
            </div>
          </div>
          <div
            id="conversationsList"
            class="conversations-list"
            style="
              font-size: 20px;
              overflow-y: scroll;
              max-width: 100%;
              min-height: 100%;
            "
          >
            {% for conv in conversations %}
            <div class="conversation-name" id="{{ conv.id }}">
              <button
                class="conv-title"
                onclick="redirectToChat('{{ conv.id }}')"
              >
                {{ conv.title }}
              </button>
              {% if conv.status == 1 %}
              <i class="bx bx-time" style="font-size: 30px; margin-right: 10px">
              </i>
              {% elif conv.status == 2 %}
              <i
                class="bx bx-check-circle"
                style="font-size: 30px; margin-right: 10px"
              >
              </i>
              {% else %}
              <i
                class="bx bxs-bell-ring"
                style="font-size: 30px; margin-right: 10px"
              ></i>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
  <footer class="footer_bar"></footer>
</html>
<script type="text/javascript">
  document.addEventListener("scroll", function () {
    const navbar = document.querySelector(".menu_rectangle");
    const logo = document.querySelector(".logo-pic");

    if (window.scrollY > 150) {
      // Navbar kleiner machen
      navbar.style.height = "100px"; // Höhe der Navbar verkleinern
      // Logo ausblenden
      logo.style.opacity = "0";
      logo.style.maxHeight = "0"; // Größe des Logos auf 0 setzen
    } else {
      // Navbar wieder auf ursprüngliche Größe setzen
      navbar.style.height = "190px";
      // Logo wieder einblenden
      logo.style.opacity = "1";
      logo.style.maxHeight = "180px"; // Ursprüngliche Größe des Logos
    }
  });

  document.addEventListener("DOMContentLoaded", function () {
    // Funktion zum Laden von HTML-Dateien in Platzhalter
    function loadComponent(filePath, selector) {
      fetch(filePath)
        .then((response) => {
          if (!response.ok) {
            console.error("Fehler beim Laden:", filePath, response.status);
            return;
          }
          return response.text();
        })
        .then((data) => {
          const element = document.querySelector(selector);
          if (element) {
            element.innerHTML = data;
          } else {
            console.error(
              "Platzhalter '" + selector + "' wurde nicht gefunden."
            );
          }
        })
        .catch((error) => {
          console.error("Fetch-Fehler:", error);
        });
    }

    // Navigation laden
    loadComponent("/static/html addons/navbar.html", ".menu_bar");

    // Footer laden
    loadComponent("/static/html addons/footer.html", ".footer_bar");
  });

  function loadSection(section) {
    fetch(`/${section}`)
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("dashboard-display").innerHTML = html;
      });
  }

  var socket = io("http://localhost:5000");

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, created_at) => {
    msgClass =
      name === "{{ username }}" ? "messenger-msg-right" : "messenger-msg-left";
    const content = `
      <div class='${msgClass}'>
            <div style="font-size: 18px;"><b>${name}</b></div>
            <div style="font-size: 16px;">${msg}</div>
            <span style="font-size: 14px; color: rgba(245, 245, 245, 0.75);">${created_at}</span>
      </div>
    `;
    messages.innerHTML += content;
  };

  function redirectToChat(ownerId) {
    window.location.href = `/chat-redirect?conv_id=${ownerId}`;
  }

  socket.on("message", (data) => {
    createMessage(data.name, data.message, data.created_at);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socket.emit("message", { data: message.value });
    message.value = "";
  };

  const chatBox = document.getElementById("messages");

  const observer = new MutationObserver(() => {
    chatBox.scrollTop = chatBox.scrollHeight;
  });

  observer.observe(chatBox, { childList: true });

  document.addEventListener("DOMContentLoaded", function () {
    scrollToBottom();
  });

  function scrollToBottom() {
    let chatBox = document.getElementById("messages");
    chatBox.scrollTop = chatBox.scrollHeight;
  }

  document
    .querySelector(".messenger-form-text")
    .addEventListener("keypress", function (e) {
      if (e.key === "Enter") {
        sendMessage();
        event.preventDefault(); // Verhindert das Neuladen der Seite
      }
    });

  function searchConversations() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("searchConversations");
    filter = input.value.toUpperCase();
    ul = document.getElementById("conversationsList");
    li = ul.getElementsByTagName("div");
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("button")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "flex";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
