<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F. Walter Roth KG</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="menu_bar"></div>
    <div class="page-container">
      <div class="page-nav">
        <button onclick="loadSection('profile')">Profil</button>
        <button onclick="location.href = '/chat-redirect'">Chat</button>
        {% if team_status > 0 %}
        <button onclick="location.href = '/werbung'">Werbung/Angebote</button>
        <button onclick="loadSection('statistics')">Statistiken</button>
        <button onclick="loadSection('enquiries')">Anfragen</button>
        {% endif %}
        {% if team_status == 2 %}
        <button onclick="location.href = '/admin'">Admin-Panel</button>
        {% endif %}
      </div>
      <div class="dashboard-display" id="dashboard-display">
        <!-- Der Bereich wird dynamisch geladen -->
        <div style="font-size: 48px">Dashboard</div>
      </div>
    </div>
  </body>
  <footer class="footer_bar"></footer>
</html>
<script src="/static/html addons/dashboard.js"></script>
