<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F. Walter Roth KG</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css') }}"
    />
  </head>

  <body>
    <div class="menu_bar"></div>
    <div style="min-height: 100vh; display: grid; place-content: center">
      <div class="login-wrapper">
        <form class="login-form" method="POST">
          <h1 style="width: fit-content; margin-inline: auto">
            Passwort ändern
          </h1>
          {% if error %}
          <div>{{error}}</div>
          {% endif %}
          <div>
            Bitte gib deine E-Mail Adresse ein. <br />Dir wird ein Link zum
            Passwort-Zurücksetzen geschickt. <br />
          </div>
          <div
            style="font-size: 20px; display: flex; flex-flow: column; gap: 15px"
          >
            <div
              class="input-box"
              style="font-size: 20px; width: 100%; display: flex"
            >
              <input
                name="reset-email"
                type="text"
                placeholder="E-Mail Adresse"
                style="font-size: 20px; flex-grow: 1; font-size: 18px"
              />
              <i class="login-icon bx bx-envelope"></i>
            </div>

            <div style="width: fit-content; margin-inline: auto">
              <button type="submit" class="lite-btn">Senden</button>
            </div>
          </div>
          <div>
            <p>
              Doch noch an das Passwort erinnert? <br />
              <a style="width: fit-content; margin-inline: auto" href="/login"
                >Zurück zur Anmeldung</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
  <footer class="footer_bar"></footer>
  <script src="/static/html addons/script.js"></script>
</html>
