<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F. Walter Roth KG</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/style.css') }}"
    />
  </head>

  <body>
    <div class="menu_bar"></div>
    <div style="min-height: 100vh; display: grid; place-content: center">
      <div class="login-wrapper">
        <form class="login-form" method="POST">
          <h1 style="width: fit-content; margin-inline: auto">Login</h1>
          {% if error %}
          <div>{{error}}</div>
          {% endif %}
          <div>
            <h3>Passwort ändern</h3>
            <br />Bitte gib deine E-Mail Adresse ein. <br />Dir wird ein Link
            zum Passwort-Zurücksetzen geschickt.
          </div>
          <div class="input-box" style="font-size: 20px; width: 80%">
            <input
              name="reset-email"
              type="text"
              placeholder="E-Mail Adresse"
              style="width: 100%; font-size: 20px"
            />
            <i class="login-icon bx bx-envelope"></i>
          </div>

          <div style="width: fit-content; margin-inline: auto">
            <button type="submit">Senden</button>
          </div>

          <div>
            <p>
              Doch noch an das Passwort erinnert? <br />
              <a style="width: fit-content; margin-inline: auto" href="/login"
                >Zurück zur Anmeldung</a
              >
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
  <footer class="footer_bar"></footer>
  <script src="/static/html addons/script.js"></script>
</html>
