<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>F. Walter Roth KG</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body>
  <img class="header-image" src="/static/html addons/img/dark-mode-background.jpg" />
  <div class="menu_bar"></div>
  <div class="container">
    <div class="messenger-open">
      <button class="messenger-header-btn" id="chatOpen" type="button" onclick="openForm()">
        <i class='bx bx-info-circle'></i>
      </button>
    </div>
    <div class="messenger-container" id="messenger">
      <div class="messenger-head">
        <i style="color: white; font-size: 64px; width: fit-content;" class='bx bx-info-circle'></i>
        <h1 style="color: white ;font-size: 42px; margin: 0; width: 100%; display: flex; justify-content: center;">Information</h1>
        <button class="messenger-header-btn" style="width: fit-content;" type="button" onclick="closeForm()">
          <i class="bx bxs-chevron-down"></i>
        </button>
      </div>
      <div class="messenger-wrapper" id="chatbox">
        <div class="faq-container">
          <h2>Häufig gestellte Fragen</h2>
          <div class="faq-item">
              <button class="faq-question">Kann ich auch privat bei euch einkaufen? <i class='bx bx-plus faq-icon'></i></button>
              <div class="faq-answer">Egal ob Privat oder Gewerbe, wir bieten unsere Dienste und Produkte jedem an.
                <br>Bitte beachten Sie, dass manche Produkte vom Verkauf an Private Personen untersagt ist.</div>
          </div>
          <div class="faq-item">
              <button class="faq-question">Kann ich bei euch mein Badezimmer planen? <i class='bx bx-plus faq-icon'></i></button>
              <div class="faq-answer">Besuchen Sie unsere Ausstellung für Inspiration oder kontaktieren Sie unser Team und vereinbaren Sie einen Termin für eine Badberatung.
                <p> Tel: 05341 4095-41
                  <br> E-Mail: <a href="mailto:ausstellung@rothkg.de">ausstellung@rothkg.de</a>
                  <br>
                <br>Das Angebot erhalten Sie über Ihren Installateur, und wir kümmern uns um den Rest. 
                <br>Damit Ihr Traumbad Wirklichkeit wird bleiben wir gerne stets im Austausch.</div>
          </div>
          <div class="faq-item">
              <button class="faq-question">Was sind eure Preise? <i class='bx bx-plus faq-icon'></i></button>
              <div class="faq-answer">Vor allem für mehrere Artikel senden Sie uns bitte eine Anfrage per E-Mail an <a href="mailto:info@rothkg.de">info@rothkg.de</a> 
                <br>
                <br>Kommen Sie ansonsten gerne zu uns in den Verkauf und lassen Sie sich bedienen.</div>
          </div>
        </div>
        <div class="cookie-container">
          <div class="cookie-item">
            <button class="cookie-text" name="open-cookie">Datenschutz/Cookies <i class='bx bxs-cookie' ></i></button>
            <div class="cookie-content">
              <h2>Wie wir Ihre Daten nutzen.</h2>
              Hier stehen die Cookies mit Verlinkung auf unsere <a href="#Datenschutzhinweise">Datenschutzhinweise</a> und <a href="#Nutzungsbedingungen">Nutzungsbedingungen</a>.
              <br>
              <p>
                <label>
                  <input
                    type="checkbox"
                    name="datenschutz"
                    style="width: fit-content; margin-inline: auto"/>
                    Ich akzeptiere die Datenschutzerklärung
                </label>
              </p>
              <p>
                <label>
                  <input
                    type="checkbox"
                    name="nutzungsbedingungen"
                    style="width: fit-content; margin-inline: auto"/>
                    Ich akzeptiere die Nutzungsbedingungen
                </label>
              </p>
              <button class="accept-cookies" name="accept-cookies">Bestätigen</button>
            </div>
          </div>
          <div class="open-chat">
            <button class="chat-btn" name="open-chat">Chat <i class='bx bx-conversation' ></i></button>
          </div>
        </div>
      </div>
    </div>
  
    <h1 class="headline">
      Willkommen in ihrem neuen <br /><span class="crimson">Badezimmer</span>
    </h1>
    <div class="main-content main-headline1" style="margin-bottom: -30px;">
      Hier finden Sie uns bei Google Maps:
    </div>
    <div class="main-object">
      <div class="main-content" style="min-width: 50%;">
        <iframe class="maps"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1223.9882398968298!2d10.33778319718282!3d52.15293745325479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a550b81fb4de9f%3A0xd635e8e425afbcb9!2sF.%20Walter%20Roth%20KG!5e0!3m2!1sde!2sde!4v1726845637461!5m2!1sde!2sde"
          height: "560" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="main-content">
        <div class="box-table">
          <table>
            <thead>
              Unsere Öffnungszeiten:
            </thead>
            <tbody>
              <td><br />Ausstellung</td>
              <tr>
                <td>Mo-Fr</td>
                <td>09:00 - 17:15 Uhr</td>
              </tr>
              <tr>
                <td>Sa</td>
                <td>09:00 - 12:15 Uhr</td>
              </tr>
              <td><br />Verkauf</td>
              <tr>
                <td>Mo-Fr</td>
                <td>07:00 - 16:30 Uhr</td>
              </tr>
              <tr>
                <td>Sa</td>
                <td>07:00 - 12:00 Uhr</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="margin-top: 40px;">
          Für größere Bestellungen sollten Sie sich bei uns vorher telefonisch
          unter 05341 4095-0 oder per
          <a href="mailto:info@rothkg.de">E-Mail</a> melden.
          <p>
            Für eine Badberatung erhalten Sie Auskunft in unserer Ausstellung
            unter 05341 4095-43 oder per
            <a href="mailto:dlangenfels@rothkg.de">E-Mail</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="main-object">
      <div class="main-content" style="width: 100%; margin-top: -15;">
        <img style="border-radius: 15px; object-fit: fill; min-width: 100%" src="/static/html addons/img/außen_ansicht.png" alt="" />
      </div>
    </div>
    <div class="main-object">
      <div class="main-content" style="max-width: 50%;">
        <img style="border-radius: 15px" src="/static/html addons/img/beispiel_koje1.jpg" alt="" />
      </div>
      <div class="main-content">
          <h class="main-headline1">Unsere Ausstellung</h> <br /><br />

          Wir bieten Ihnen eine breite Palette an Produkten für Ihr Badezimmer,
          von hochwertigen Armaturen bis hin zu luxuriösen Badmöbeln.
          <br /><br />

          Wenn Sie auf der Suche nach Inspiration für Ihr Badezimmer sind oder
          sich einfach nur über die neuesten Trends informieren möchten, dann
          besuchen Sie uns doch in unserer Ausstellung. <br />Hier können Sie
          die Produkte live erleben und sich von unserer erfahrenen Fachberatung
          persönlich beraten lassen. <br /><br />

          Besuchen Sie uns in unserer Ausstellung und erleben Sie die Welt der
          Badezimmer. <br />Wir freuen uns darauf, Sie bei uns begrüßen zu
          dürfen und Ihnen bei der Verwirklichung Ihrer Badezimmer-Träume zu
          helfen! <br /><br />
        </div>
    </div>
	<div class="kontakt-headline">Kontakt</div>
	<div class="main-object" style="align-items: center;">
		<button id="slideLeft" class="arrow left" type="button" style="text-decoration: none;" href="">&#10094;</button>
		<div id="kontakt-wrapper" class="kontakt-wrapper kontakt_bar" style="margin-top: 50px;">
		</div>
		<button id="slideRight" class="arrow right" type="button" style="text-decoration: none;" href="">&#10095;</button>
	</div>
  </div>
</body>
<footer class="footer_bar"></footer>
<script src="/static/html addons/index.js"></script>

</html>