<div class="profil-container">
  <div style="font-size: 42px">Dein Profil</div>
  <div class="user-info">
    <div class="label-box">
      <div class="content-box">Nutzername:</div>
      <div>{{ username }}</div>
    </div>
    <div class="label-box">
      <div class="content-box">E-Mail:</div>
      <div>{{ email }}</div>
    </div>
    <div class="label-box">
      <div class="content-box">Passwort:</div>
      <a href="/new_password">Passwort ändern</a>
    </div>
  </div>
  <button class="logout-btn" name="logout" onclick="location.href = '/logout'">
    Abmelden
  </button>
  <button class="logout-btn" name="delete_acc" onclick="location.href = '/delete_acc'">
    Account löschen
  </button>
  <p>weiteres kommt noch</p>
</div>
