<div class="profil-container">
  <div style="font-size: 48px">Dein Profil</div>
  <div class="user-info">
    <div class="label-box">
      <p>E-Mail:</p>
      <p>Benutzername:</p>
      <p>Passwort:</p>
      <p>
        <button
          class="logout-btn"
          name="logout"
          onclick="location.href = '/logout'"
        >
          Abmelden
        </button>
      </p>
    </div>
    <div class="content-box">
      <p>{{ email }}</p>
      <p>{{ username }}</p>
      <p>Passwort ändern</p>
    </div>
  </div>
</div>
