<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F. Walter Roth KG</title>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="menu_bar"></div>
    <div class="page-container">
      <div class="page-nav">
        <ul>
          <li><button onclick="loadSection('profile')">Profil</button></li>
          <li>
            <button onclick="loadSection('team_statistics')">
              Statistiken
            </button>
          </li>
          <li><button onclick="loadSection('team_chats')">Chats</button></li>
          <li>
            <button onclick="loadSection('team_anfragen')">Anfragen</button>
          </li>
          <li><button onclick="loadSection('werbung')">Werbung</button></li>
          <li><button onclick="loadSection('test')">Noch</button></li>
          <li><button onclick="loadSection('test')">Viel</button></li>
          <li><button onclick="loadSection('test')">mehr</button></li>
          <li><button onclick="loadSection('test')">Funktionen</button></li>
        </ul>
      </div>
      <main id="team-main">
        <!-- Der Bereich wird dynamisch geladen -->
      </main>
    </div>
  </body>
  <footer class="footer_bar"></footer>
</html>
<script src="/static/html addons/script.js"></script>
